.products-list{
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.products-list>div{
    border: 1px solid black;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}